* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}

nav h2 {
  font-weight: bold;
  font-size: 40px;
  text-shadow: rgba(17, 16, 16, 0.945) 5px 10px 10px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: rgba(17, 16, 16, 0.945) 5px 8px 7px;
  transition: 1.5s;
}

.link:hover {
  text-shadow: #130135 7px 12px 6px;
  box-shadow: inset 7rem 7rem 5rem #003f69;
  color: #fff;
  border-radius: 20%;
}

/* Estilos do menu hambúrguer */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

.first-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 300px;
}

.first-side {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.first-side p {
  width: 690px;
  font-size: 20px;
  font-weight: 400;
}
.title-section {
  font-size: 40px;
  font-weight: bold;
  text-shadow: rgba(17, 16, 16, 0.945) 3px 8px 8px;
}

.button {
  width: 462px;
  height: 50px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #00c16c;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px;
  gap: 10px;
  transition: ease 0.5s;
}

.button img {
  width: 23px;
  height: 23px;
}

.button:hover {
  background-color: #1b8798;
  border: 2.5px solid #04394e;
  box-shadow: -1rem 0.2rem 0.4rem #003f69;
}

.button:active {
  opacity: 0.85;
}

#logo-tacseg {
  width: 180px;
  height: 180px;
  border-radius: 25px;
}

.slider {
  display: block;
  height: 310px;
  width: 500px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider input {
  display: none;
}

.slider li {
  list-style: none;
  position: absolute;
  width: 500px;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition: 1.5s;
}

.slider label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
  top: 313px;
}

.slider li:nth-child(3) label {
  left: 70px;
  top: 313px;
}

button.prev,
button.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(46, 74, 199);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

button.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

button.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* #camera {
  width: 500px;
  height: 350px;
  border-radius: 20px;
} */

.second-section {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
}

#tacseg {
  width: 48%;
  height: 550px;
  object-fit: cover;
  border: inset 5px rgba(25, 28, 161, 0.267);
  border-radius: 8%;
  box-shadow: #3d7b80 10px 20px 5px;
}

.second-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.second-side p {
  width: 610px;
  font-size: 20px;
  font-weight: 400;
}
.third-part h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: rgba(17, 16, 16, 0.945) 3px 8px 8px;
}

.testimonial-carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: 366px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  background: #062a60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 300px;
}

.carousel-inner {
  border-top: 2px #fff;
  display: flex;
  transition: transform 0.5s ease;
}

.testimonial-card {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.testimonial-card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #fffbf5;
  border-top: 2px solid;
}

.testimonial-card h4 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 100px;
  color: #fffbf5;
}

button.prev-slide,
button.next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

button.prev-slide {
  left: 0;
  border-radius: 3px 0 0 3px;
}

button.next-slide {
  right: 0;
  border-radius: 0 3px 3px 0;
}

button.prev-slide:hover,
button.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.article {
  background-image: url(../assets/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.article h2 {
  padding: 30px;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}

.article h2 span {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #3d2705;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.form-container input,
.form-container textarea,
.form-container button {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 0.125rem solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-radius: 5px;
}
.form-container input:hover,
.form-container input:focus,
.form-container textarea:hover,
.form-container textarea:focus {
  outline: none;
  border-color: #0c497e;
  box-shadow: 0 0 0 0.25rem #26344a;
}

.form-container button {
  background-color: #0f6917;
  color: white;
  cursor: pointer;
  border: none;
}
.form-container button:hover {
  background-color: #0056b3;
}

.form-container button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}

textarea {
  resize: vertical;
}

footer {
  background-color: #1c1e3d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  color: #fffbf5;
  font-weight: 500;
}

#backToTop {
  display: none; /* Esconde o botão inicialmente */
  position: fixed; /* Fixa o botão na tela */
  bottom: 20px; /* Posiciona o botão a 20px do fundo da tela */
  right: 30px; /* Posiciona o botão a 30px da direita da tela */
  z-index: 99; /* Garante que o botão esteja na frente de outros elementos */
  font-size: 25px; /* Tamanho da fonte */
  background-color: #00c16c; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem bordas */
  outline: none; /* Sem contorno */
  cursor: pointer; /* Cursor de clique */
  padding: 25px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave para mudança de cor */
}

#backToTop:hover {
  background-color: #555; /* Muda a cor de fundo ao passar o mouse */
}

